# Django
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
*.log
*.pot
*.py[cod]
*.swp
*.swo
*.~
*.bak
*.tmp
*.orig
*.rej
*.seed
*.pid
*.cover
*.mo
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
env/
venv/
.env
.env.*
.DS_Store
.vscode/
node_modules/
staticfiles/
media/
local_settings.py
docker/
__pycache__/
*.pyc